@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&amp;display=swap');

        body {
            background: black;
            transition: all 3s ease;
        }

        main {

            position: absolute;
            left: 0%;
            top: 0%;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: all 2s ease;
        }

        #bg {
            background: linear-gradient(to right top, #0e8196, #1e62bb, #6007c5, #7f068f);
            position: fixed;
            width: 100%;
            height: 100%;
            left: 0%;
            top: 0%;
            z-index: -1;
        }

        div.bruh {
            position: absolute;
            /* bottom:5%; */
            left: 4%;
            color: white;
            font-family: "Nunito Sans";
        }

        a {
            color: #0ABBAA
        }

        .icons {
            display: flex;
            bottom: 4%;
            left: 4%;
            /* width:500px; */
            /* align-items: space-between; */
            position: fixed;
        }

        .icons>a {
            margin-right: 50px;
        }

        #hate {
            z-index: 7;
            position: absolute;
            left: 1%;
            top: 0%;
            display: flex;
            flex-direction: column;
            text-align: left;
            font-family: "Nunito Sans";
            color: white;
            opacity: 0
        }

        #hate>h2 {
            font-size: 15px
        }

        #hate>h3 {
            font-size: 12px
        }

        .projects {
            display: flex;
            flex-wrap: wrap;
            /* width:80%; */

            align-items: baseline;
        }

        .projects>div {
            margin-right: 5px;
            margin-bottom: 5px;
            text-align: center;
            width: 150px;
            height: 170px;
            background: rgba(1, 2, 1, 0.1);
            border-radius: 10px;
            padding: 4px;
            /* align-items: center; */
            transition:all 1s ease;
        }

        .projects>div:hover {
            box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, .5);
            transform: scale(1.05,1.05);
            transition: all .3s ease;
            cursor:pointer;
        }

        .projects>div>h3 {
            margin-top: 3px;
        }

        



        .contact {
            display: flex;
            flex-wrap: wrap;
            /* width:80%; */

            align-items: baseline;
        }

        .contact>div {
            margin-right: 5px;
            margin-bottom: 5px;
            text-align: center;
            width: 150px;
            height: 110px;
            background: rgba(4, 73, 129, 0.1);
            border-radius: 30px;
            padding: 4px;
            /* align-items: center; */
            transition:all 1s ease;
        }

        .contact>div:hover {
            box-shadow: 0px 0px 30px 0px rgba(173, 35, 201, 0.5);
            transform: scale(1.05,1.05);
            transition: all .3s ease;
            cursor:pointer;
        }

        .contact>div>h3 {
            margin-top: 3px;
        }