@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&amp;display=swap');

body {
    background: black;
    transition: all 3s ease;
}

#bg {
    background: linear-gradient(to right top, #0e8196, #1e62bb, #6007c5, #7f068f);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    z-index: -1;
}

main {
    /* background:linear-gradient(to right top, #002a35, #23005c, #430069, #510076); */
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 2s ease;
}

div.bruh {
    position: absolute;
    bottom: 5%;
    left: 4%;
    color: white;
    font-family: "Nunito Sans";
}

a {
    color: #0ABBAA
}

.icons {
    display: flex;
    /* width:500px; */
    /* align-items: space-between; */
    /* position:absolute; */
}

.icons>a {
    margin-right: 50px;
}

#hate {
    z-index: 7;
    position: absolute;
    left: 1%;
    top: 0%;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: "Nunito Sans";
    color: white;
    opacity: 0
}

#hate>h2 {
    font-size: 15px
}

#hate>h3 {
    font-size: 12px
}

.legend {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 11%;
    background: rgba(0, 0, 0, .1);
    padding: 5px;
}

.legend>div {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 90%;
    text-align: center;
    transform: translate(-50%, -50%);
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.legend>div>* {
    font-size: 17px;
    font-family: "Nunito Sans"
}

.legend>div>a {
    color: black;
    text-decoration: none;
    background-color: #0ABBAA;
    padding: 6px;
    border-radius: 4px;
    margin: 5px;
    margin-top:10px;
}