ErrorDocument 401 assets/error/401.html
ErrorDocument 403 assets/error/403.html
ErrorDocument 404 assets/error/404.html
ErrorDocument 500 assets/error/500.html
Options +SymLinksIfOwnerMatch
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteRule ^([^\.]+)$ $1.html [NC,L]